.car-listings
    position: relative
    .card-section
        height: 100vh
        padding-top: 50px
        padding-bottom: 100px
        overflow-y: auto
        display: flex
        flex-wrap: wrap
        justify-content: center
